/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex; /*si je veux mes elements centrés pour grands écrans*/
  justify-content: center;
  margin-bottom: 0;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  margin-bottom: 0;
}
.filtres h2 {
  margin-bottom: 20px;
}

/*Modification du menu nav header*/
nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

nav img {
  height: 30px;
  margin-top: 20px;
}

.nav-menu-header {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  text-align: center;
}

/*Animation menu survol avec ::before -----> élément plus compliqué à réaliser-------->*/
.nav-menu-header li {
  position: relative; /*element parent*/
  margin: 0 0 0 70px;
}

.nav-menu-header li:before {
  content: "";
  position: absolute; /*element enfant, positionné par rapport à son parent relative*/
  background-color: #0065fc;
  height: 2px;
  width: 0;
  left: 0;
  bottom: 41px; /*position ligne*/
}

.nav-menu-header li:hover::before {
  width: 100%;
}

.nav-menu-header li:hover {
  color: #0065fc;
}

/*Formulaire de recherche-----> élément plus compliqué à réaliser:difficulté pour bien
découper le champs de recherche pour avoir le bon résultat --------------------------------->*/
form {
  margin: 20px 0 0;
  display: inline-flex;
  height: 50px;
}

form input {
  border: solid 1px #f2f2f2;
  font-family: "Raleway";
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

input[type="search"]::placeholder {
  color: black;
}

#button-desktop {
  background-color: #0065fc;
  border-radius: 0 15px 15px 0;
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 0 20px 0 20px;
  cursor: pointer;
}

/*-----> élément plus compliqué à réaliser : cacher un deuxieme bouton en mobile------------------>*/
#button-mobile {
  display: none;
}

.icone {
  background-color: #f2f2f2;
  padding: 15px 20px 15px 20px;
  border-radius: 15px 0 0 15px;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

/***** Filtre ****/

.conteneur-filtre {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 30px 0;
  font-size: clamp(12px, 3vw, 16px);
}

.box-filtre {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  margin-left: 35px;
  border-radius: 30px;
  letter-spacing: 1px;
  cursor: pointer;
  border: none;
  border: 2px solid #f2f2f2;
  border-radius: 40px;
  background-color: rgb(255, 255, 255);
  transition: all 0.4s ease-in-out;
  margin-bottom: 10px;
}

.box-filtre:hover {
  background-color: #deebff;
}

.filtre-logo {
  position: relative;
  right: 5px;
  border-radius: 50%;
  font-size: 20px;
  width: 60px;
  height: 60px;
  color: var(--principale);
  background-color: var(--secondaire);
  transition: all 0.4s ease-in-out;
}

.padding {
  padding-left: 10px;
}

.box-filtre:nth-child(2) .filtre-logo:after {
  content: "\f53a";
  font-family: "FontAwesome";
}

.box-filtre:nth-child(3) .filtre-logo:after {
  content: "\e59d";
  font-family: "FontAwesome";
}

.box-filtre:nth-child(4) .filtre-logo:after {
  content: "\f004";
  font-family: "FontAwesome";
}

.box-filtre:nth-child(5) .filtre-logo:after {
  content: "\f6d3";
  font-family: "FontAwesome";
}

.box-filtre h3 {
  padding: 0 20px 0 10px;
}

.box-filtre:hover .filtre-logo {
  transform: rotate(360deg);
}

.filtres {
  display: flex;
  align-items: center;
  max-width: 100%;
}

.filtres ul {
  display: flex;
  list-style: none;
}

.filtres li {
  margin: 0 35px 0 0;
  border: 2px solid #d9d9d9;
  padding: 15px;
  border-radius: 40px;
  cursor: pointer;
}

.filtres li:hover {
  background-color: #deebff;
}

.filtres li i {
  padding-right: 10px;
}

/*Modification des filtres de tri
.filtres {
  display: flex;
  align-items: center;
  max-width: 100%;
}

.filtres ul {
  display: flex;
  list-style: none;
}

.filtres li {
  margin: 0 35px 0 0;
  border: 2px solid #d9d9d9;
  padding: 15px;
  border-radius: 40px;
  cursor: pointer;
}

.filtres li:hover {
  background-color: #deebff;
}

.filtres li i {
  padding-right: 10px;
}*/

/*Information*/
.information p {
  margin: 0 0 30px 0;
}

.information i {
  border: 1px solid #d9d9d9;
  padding: 10px;
  border-radius: 100%;
  height: 3px;
  margin-right: 10px;
}

/*section hebergement*/
.hebergements h2,
.activite-marseille h2 {
  margin: 0 0 30px 0;
}

.hebergements p {
  margin: 0 0 5px 0;
}

.hebergements h3 {
  margin: 0 0 8px 0;
}

#afficher-plus {
  margin: 30px 0 0 0;
}

/*mise en forme des cards horizontales -----> élément plus compliqué à réaliser : mise en place de GRID-------->*/
.all-six-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colonnes de largeur égale */
  grid-auto-rows: auto; /* Hauteur automatique des lignes */
  gap: 20px; /* Espacement entre les éléments */
}

.card-horizontal {
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  transition: 0.3s;
  border-radius: 20px;
  padding: 5px;
  background-color: white;
  flex-basis: 30%;
  margin: 4px;
}

.card-horizontal img {
  border-radius: 20px 20px 0 0;
  height: 110px;
  object-fit: cover;
  width: 100%;
}

/* ombre hover card*/
.card-horizontal:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}

/* Padding container */
.container {
  padding: 5px 0 10px 10px;
}

/*mise en forme activité marseille*/

.card-marseille h3 {
  margin-left: 20px;
}

.container-card-marseille {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}

.card-marseille {
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  transition: 0.3s;
  border-radius: 20px;
  background-color: white;
  width: 25%;
  padding-bottom: 5px;
}

.card-marseille:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}

.card-marseille img {
  width: 100%;
  object-fit: none;
  height: 380px;
  border-radius: 20px 20px 0 0;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/*Hebergements And Populaires*/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /*Permet de faire passer la troisième section activité à marseille sous
  les deux autres*/
}

.hebergements-and-populaires section {
  background-color: transparent;
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

/*couleur gris sur les fonds des sections, sauf activité à marseille*/
.hebergements-and-populaires section:not(.activite-marseille) {
  background-color: var(--main-bg-color);
}

/* Hebergements **/
.hebergements {
  width: 65%;
}

/* Populaires */
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/*Footer*/
.footer-container {
  display: flex;
  background-color: #f2f2f2;
  height: 163px;
  padding: 20px 0 20px 20px;
  margin-bottom: 0;
}

.footer-container ul {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.footer-container li {
  padding-top: 15px;
}

.footer-container h3 {
  margin: 0;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/*----------> Medium devices (tablets, less/equal than 1024px) -------->*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main-container {
    padding: 0 40px 0 0;
  }

  h3 {
    font-size: 14px;
  }

  p,
  .footer-container a {
    font-size: 13px;
  }

  h2,
  .section-title {
    font-size: 20px;
  }

  /*responsive tablette FILTRES top*/
  .filtres h2 {
    margin: 30px 0 0 0;
  }

  .filtres {
    flex-direction: column;
    align-items: flex-start;
  }

  .filtres ul {
    padding: 0;
    margin: 0;
  }

  .filtres li {
    margin: 0 15px 0 0;
    font-size: 15px;
    padding-bottom: 12px;
  }

  .filtre-bouton {
    display: flex;
  }

  .card-marseille img {
    height: 190px;
  }

  .card-marseille h3 {
    margin: 15px 0 4px 20px;
  }

  .all-six-cards {
    gap: 10px;
  }

  .hebergements-and-populaires section:not(.activite-marseille) {
    padding: 20px;
  }

  .hebergements-and-populaires section {
    padding: 0;
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  .container-card-marseille {
    gap: 20px;
    margin-bottom: 50px;
  }
}

/* -------------->Small devices (phones, less than 768px) ------------->*/
@media screen and (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
  }

  .main-container {
    padding: 0;
    margin: 0;
  }

  /*Menu navigation*/
  #menu-1 {
    margin: 0;
    margin-left: -10px;
    padding: 20px;
    width: -webkit-fill-available;
    border-bottom: 2px solid #0065fc;
    right: 0;
    left: 0;
    color: #0065fc;
  }

  #menu-2 {
    margin: 0;
    margin-right: -20px;
    padding: 20px;
    width: -webkit-fill-available;
    border-bottom: 2px solid #f2f2f2;
    right: 0;
    left: 0;
  }

  main {
    padding: 0 10px 0 15px;
  }

  h3 {
    font-size: 18px;
  }

  p,
  .footer-container a {
    font-size: 16px;
  }

  h2,
  .section-title {
    font-size: 22px;
  }

  nav {
    display: flex;
    flex-direction: column;
  }

  .nav-menu-header li,
  ul {
    margin: 0;
    padding: 0;
  }

  .nav-menu-header li:before {
    background-color: transparent;
  }

  nav img {
    margin: 20px 0 30px 180px;
    height: 20px;
  }

  .nav-menu-header {
    display: flex;
    justify-content: space-between;
  }

  .nav-menu-header li {
    margin: 0 40px 0 40px;
  }

  .filtres h2 {
    margin: 30px 0 0 0;
  }

  .filtres {
    flex-direction: column;
    align-items: flex-start;
  }

  .filtres ul {
    padding: 0;
    margin: 0;
  }

  .filtres li {
    margin: 0 15px 0 0;
    font-size: 15px;
    padding-bottom: 12px;
  }

  .filtre-bouton {
    display: flex;
  }

  /* Barre de recherche*/
  #button-desktop {
    display: none;
  }

  #button-mobile {
    display: block;
    background-color: #0065fc;
    border-radius: 15px 15px 15px 15px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 15px 15px 15px 15px;
    cursor: pointer;
    position: absolute;
    left: 355px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);
  }

  form input {
    width: 315px;
    text-align: left;
    padding-left: 20px;
  }

  /*filtres*/

  .container {
    padding: 10px 0 10px 10px;
  }

  .filtres ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .filtre-bouton {
    margin-right: 10px;
  }

  .filtres li {
    width: 150px;
    padding-bottom: 15px;
  }

  .hebergements-and-populaires {
    flex-direction: column-reverse;
    margin: 0;
    border-radius: 0px;
    padding: 0px;
    width: 100%;
  }

  /*Card les plus populaires*/
  .populaires-cards {
    display: contents;
  }

  .card {
    margin: 30px 30px 20px 30px;
  }

  .populaires {
    width: 100%;
    padding: 0 !important;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-title {
    align-items: end;
    padding: 0 30px 0 25px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  .populaires h2 {
    padding: 15px 0 0 20px;
  }

  /*Card hebergement marseille*/

  .hebergements-and-populaires section:not(.activite-marseille, .populaires) {
    padding: 0;
    background-color: transparent;
  }

  .hebergements h2 {
    padding: 15px 0 0 30px;
  }

  .hebergements h2,
  .activite-marseille h2 {
    margin: 0 0 25px 0;
  }

  #afficher-plus {
    margin: 0 0 50px 25px;
  }

  .card-horizontal {
    margin: 0 25px 25px 25px;
  }

  .card-rating {
    position: absolute;
    bottom: 10px;
  }

  .card-marseille img {
    height: 190px;
  }

  .card-marseille h3 {
    margin: 15px 0 4px 20px;
  }

  .all-six-cards {
    gap: 10px;
    display: block;
  }

  .hebergements p {
    margin: 0 0 20px 0;
  }

  .hebergements {
    width: 100%;
  }

  /*activite marseille*/

  .container-card-marseille {
    gap: 20px;
    display: block;
  }

  .card-marseille {
    width: 100%;
    margin-bottom: 25px;
  }

  .card-marseille img {
    width: 100%;
    object-fit: cover;
  }

  .card-marseille h3 {
    margin-bottom: 20px;
  }

  /*Footer*/

  .footer-container {
    display: block;
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    height: 370px;
    padding-top: 0;
  }

  .footer-container h3 {
    padding-top: 10px;
  }
}

@media (max-width: 375px) {
  .activite-marseille {
    width: 112%;
  }
}

/* ------------------->Responsive < 320----------------->*/
@media (max-width: 425px) {
  nav img {
    margin-left: 140px;
  }

  .hebergements-and-populaires {
    width: 125%;
  }

  /*-----> élément plus compliqué à réaliser pour faire passer les menus en vertical-------->*/
  .filtres ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .filtres li {
    width: 40%;
    padding-bottom: 15px;
  }

  #button-mobile {
    left: 280px;
  }

  form input {
    width: 100%;
  }

  .card {
    margin-right: 40px;
  }

  .card-horizontal {
    margin-right: 35px;
  }

  .card-marseille {
    width: 95%;
  }
}
